# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.dll
*.dat

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Minecraft Folders
/logs/
/resourcepacks/
/saves/
/server-resource-packs/
/crash-reports/

# Minecraft Files
Minecraft.exe
realms_persistence.json
options.txt
usercache.json
usernamecache.json

# Mod Files
/config/splash.properties
/assets/
/snapshots-server/
/journeymap/
BotaniaVars.dat
crafttweaker.log